.button {
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-family: inherit;
    border: none;
}

.svg-line {
    display: block;
    stroke: #555;
    stroke-width: 2px;
    stroke-linecap: round;
    width: 100%;
    height: 100%;
}