// Primary Colours
@primary: #e14;
@primary-light: mix(@primary, white, 10%);
@primary-dark: mix(@primary, black, 20%);

// Accent Colours
@accent: #22a;
@accent-light: mix(@accent, white, 10%);
@accent-dark: mix(@accent, black, 20%);